body {
    margin:0;
}

/* *****header***** */
.header {
    height: 50px;
    background-color: #C01515;
}

.icon--img {
    width: 5vw;
}

/* *****cover***** */
.cover {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #C01515;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo--img {
    position: absolute;
    width: 100vw;
    z-index: 3;
}

.path {
    position: absolute;
    width: 100%;
    z-index: 2;
}

#tick {
    stroke-dasharray: 2700px;
    stroke-dashoffset: 2700px;
    animation: 5s tick ease-in-out infinite;
}

@keyframes tick {
    0%, 50% {
        stroke-dashoffset: 2700px;
    }
    50%, 100% {
        stroke-dashoffset: 0px;
    }
}

/* *****content***** */
.content {
    background-color: #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
}

.content--photo1 {
    width: 40vw;;
}

.content--photo2 {
    width: 20vw;
    margin-top: 5vh;
}

.content--photo3 {
    width: 40vw;
    margin-top: 8vh;
}

.content--photo4 {
    width: 35vw;
    margin-top: 3vh;
}

.content--line1 {
    width: 40vw;
    margin-left: 5vw;
}

.content--line2 {
    width: 45vw;
}

.content--line3 {
    width: 35vw;
}

.content--line4 {
    width: 55vw;
}

/* *****footer***** */
.footer {
    height: 35vh;
    background-color: #C4C4C4;
}

.footer--img {
    height: 35vh;
}

.footer--logo {
    width: 10vw;
}

/* *****放大***** */
.hover-zoom {
    overflow: hidden;
    transition: transform 0.3s ease;
  }

.hover-zoom:hover {
    transform: scale(1.1);
  }

 